.headerBootstrap {
	// display: flex;
	background: var(--header-gradient);
	min-height: var(--navbar-height);
	z-index: 2000;
	.logo {
		height: 35px;
	}
	:global .navbar-toggler {
		// font-size: 0.75rem;
	}
	:global .navbar-nav {
		:global .nav-link {
			color: white;
			// padding-top: 0;
			// padding-bottom: 0;
			position: relative;
			top: -2px;
			&:hover {
				background: initial;
				-webkit-background-clip: initial;
				-webkit-text-fill-color: initial;
				color: #fff275;
				color: #00509a;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.headerBootstrap {
		:global .dropdown {
			div {
				background-color: initial;
				border: none;
				:global .dropdown-item {
					color: white;
					&:hover {
						background: initial;
						-webkit-background-clip: initial;
						-webkit-text-fill-color: initial;
					}
				}
			}
		}
	}
}
