.header {
	background-color: var(--header-gradient);
	border-width: var(--header-thickness);
	border-style: solid;
	border-image: var(--header-gradient) 1;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 1000;
	pointer-events: none;

	.navLink {
		color: var(--bs-light);
		width: fit-content;
		height: 2rem;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-content: center;
		justify-content: center;
		align-items: center;
		pointer-events: all;
		transition: all 0.35s ease;
		background: none;
		-webkit-background-clip: initial;
		-webkit-text-fill-color: initial;
		&:hover {
			color: var(--bs-light);

			letter-spacing: 4px;
		}
	}
	.pos1 {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%)
			translateY(calc(-50% - var(--header-thickness-half)));
	}
	.pos2 {
		position: absolute;
		top: 50%;
		left: 0px;
		transform: translateX(calc(-50% - var(--header-thickness-half)))
			translateY(-50%) rotate(-90deg);
	}
	.pos3 {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%)
			translateY(calc(50% + var(--header-thickness-half)));
	}
	.pos4 {
		position: absolute;
		top: 50%;
		right: 0px;
		transform: translateX(calc(50% + var(--header-thickness-half)))
			translateY(-50%) rotate(90deg);
	}
}
