# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/
out/*

# production
/build

# misc
.DS_Store
*.pem
out/.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel
# data/authors.json
# data/committee.json
# data/contributions.json
# data/people.json
# data/programme.json

public/images/nextImageExportOptimizer/
public/images/contributions-media/*/nextImageExportOptimizer
public/images/home-gallery/nextImageExportOptimizer/
public/images/next-image-export-optimizer-hashes.json

