.colophon {
	font-size: 0.8rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;

	:global p {
		margin-bottom: 0.5rem;
		font-family: "Inter", sans-serif;
		font-weight: 500;
		letter-spacing: -0.3px;
	}
}
.logo {
	width: 180px;
	max-width: 100%;
	margin-bottom: 1rem;
}

@media screen and (min-width: 992px) {
	.colophon {
		display: block;
	}
}
