<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

{% seo %}


    <meta name="twitter:image" content="http://visap.net/2018/media/visap18-teaser.jpg" />
    <meta property="og:image" content="http://visap.net/2018/media/visap18-teaser.jpg" />

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="video-header">
      <div class="center">
        <video playsinline autoplay muted loop class="video" id="teaserVideo">
          <source src="{{ 'media/VISAP_timelapse.mp4' | relative_url }}" type="video/mp4">
        </video>
      </div>
      <img src="{{ 'media/logo-left.svg' | relative_url }}" class="logo logo-left" />
      <img src="{{ 'media/logo-right.svg' | relative_url }}" class="logo logo-right" />
      <small class='credit'>Video credit: Bon Adriel Aseniero.</small>
    </div>

    <div class="wrapper">
      <header>
        <h1><a href="{{ '/' | relative_url }}">VISAP’18</a></h1>
        <p>
          <span class="white-bg">23 – 26 October 2018</span><br/>
          <span class="white-bg">Berlin, Germany</span>
        </p>
        <p>
          <a href="{{ '/program' | relative_url }}">Program</a><br/>
          <a href="{{ '/program#exhibition' | relative_url }}">Exhibition</a><br/>
          <a href="{{ '/workshop' | relative_url }}">Workshop</a><br/>
          <a href="{{ '/dates' | relative_url }}">Dates</a><br/>
          <a href="{{ '/organizers' | relative_url }}">Organizers</a><br/>
          <a href="{{ '/#supporters' | relative_url }}">Supporters</a>
          <br/>
          <a href="{{ '/call' | relative_url }}">Call for Entries</a><br/>
          <!--<a href="/submission-instructions">Submission Instructions</a><br/>-->
        </p>

      </header>

      <section class="offset--screen-height">

      {{ content }}

      </section>
      <footer>
        <small>Jeremy Boy and Till Nagel<br/>VISAP’18 General Chairs</small>
      </footer>
    </div>

    <div class="vis-footer small">
      <img src="{{ '/media/vis-picto.svg' | relative_url }}" class="vis-picto">
    </div>

    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>


  {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
  {% endif %}
    <script>
      var teaserVideo = document.getElementById("teaserVideo");
      teaserVideo.playbackRate = 0.5;
    </script>
  </body>
</html>
