.container {
	height: 35vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	:global .letter {
		mix-blend-mode: multiply;
	}
}

@media screen and (min-width: 764px) {
	.container {
		height: 50vh;
	}
}
