.template {
	background-color: rgb(65, 65, 65);
	color: white;
}

.contribution {
	cursor: pointer;

	.thumbnail {
		width: 100%;
		display: block;
    overflow: hidden;
		position: relative;
	}

	.category {
		color: #666;
		font-size: 0.9rem;
		font-weight: 500;
	}
	.title {
		font-size: 1.2rem;
	}
	.authors {
		font-size: 1.1rem;
	}
	.readMore {
		color: #242424;
		font-size: 1rem !important;
	}
}

.bio {
	font-size: 1.2rem;
}